{% extends "app/options.html" %}

<body>
{% block content %}
    {{block.super}}
    {% if user.is_authenticated %}
    <h5><strong>Ongi etorri! {{user}}</strong></h5>
    {% else %}
    <h2 class="text-success">Login egin</h2>
    <form action="." method="post">
        {% csrf_token %}
        {{form|linebreaks}}
        <button type="submit" class="btn btn-outline-secondary btn-sm" value="Login">Sartu</button>
        <input type="hidden" value={{next}} name="next">
    </form>
        {{mezua}}
    {% endif %}
{% endblock %}
</body>