{% extends "app/options.html" %}
<body>
    {% block content %}
    {{block.super}}
    {% if user.is_authenticated and 'page' in request.GET %}
    <h2 class="text-success">Menua</h2>
    <br/>
    <table class="table table-striped">
            <tr>
                <th>Izenburua</th>
                <th>Zuzendaria</th>
                <th>Urtea</th>
                <th>Generoa</th>
                <th>Sinopsia</th>
                <th>Bozkak</th>
            </tr>
        {% for film in films %}
        <tr>
            <td>
                {{film.izenburua}}
            </td>
            <td>
                {{film.zuzendaria}}
            </td>
            <td>
                {{film.urtea}}
            </td>
            <td>
                {{film.generoa}}
            </td>
            <td style="width: 70%">
                {{film.sinopsia}}
            </td>
            <td>
                {{film.bozkak}}
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if films.has_previous %}
            <a href="?page={{films.previous_page_number}}">Aurrekoa</a>
            {% endif %}

            <span class="current">
                Page {{films.number}} of {{films.paginator.num_pages}}
            </span>

            {% if films.has_next %}
            <a href="?page={{films.next_page_number}}">Hurrengoa</a>
            {% endif %}
        </span>
    </div>
    {% else %}
        <h5><strong>Ez zaude logeatuta</strong></h5>
    {% endif %}
    {% endblock %}
</body>
