<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css">
    <title>Filmen gunea</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            {% if user.is_authenticated %}
            <li><a href="/menua?page=1">Filmak ikusi</a></li>
            <li><a href="/bozkatu/">Bozkatu</a></li>
            <li><a href="/zaleak/">Zaleak</a></li>
            <li><a href="/logout/">Logout</a></li>
            {% else %}
            <li><a href="/login/">Login</a></li>
            <li><a href="/register/">Register</a></li>
            {% endif %}

        </ul>
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>