{% extends "app/options.html" %}

<body>
    {% block content %}
    {{ block.super }}
    <h2 class="text-success">Zaleak</h2>
    <form action="." method="POST">
        {% csrf_token %}
        <select id="selectFilm" name="selectFilm">
            {% for film in films %}
            <option value="{{film.pk}}">{{film.izenburua}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-outline-secondary btn-sm">Erakutsi zaleak</button>
    </form>
    {% if request.POST %}
    <strong>{{selectedFilm.izenburua}}</strong>-ren zaleak:
    <div>
        <table class="table table-striped" style="width: auto">
            <tr><th>Zaleak</th></tr>
            {% for bozk in bozkatzaileak %}
                <tr><td>{{bozk.erabiltzailea_id}}</td></tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    {% endblock %}

</body>